.about-wrapper {
  display: flex;
  justify-content: center;
}
.about-content {
  max-width: 800px;
}
.about-img {
  max-width: 300px;
}
.profile-img {
  /* max-width: 400px; */
  border: solid 3px var(--black);
}
.bio-line-text {
  font-size: 1.33rem;
  line-height: 2rem;
  font-weight: 700;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

/* Mobile */
@media (max-width: 700px) {
  .about-content {
    /* border: solid 2px blue; */
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0;
  }
  .image-container {
    width: 100%;
  }
}
