.home-content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 4em 0;
}
.center-text {
  text-align: center;
}

.home-content > * {
  width: 100%;
}
.home-content p {
  max-width: 600px;
  margin: 0;
}
.white-space {
  white-space: nowrap;
}
.drawing-wrapper {
  width: 100%;
}
/* Mobile */
@media (max-width: 700px) {
  .home-content h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
