/* __________________Navigation */
/* Desktop styles */
.main-nav {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--paper);
  position: sticky;
  top: 0;
  left: 0;
  padding: 1rem 0;
  width: 100%;
}
.nav-row {
  list-style: none;
  display: flex;
  gap: 2rem;
  border: solid 2px lime;
}
/* __________________Navigation */
/* mobile styles */
@media (max-width: 700px) {
  .main-nav {
    width: 100%;
  }
  .nav-wrapper {
    align-items: flex-start;
    /* padding: 1rem; */
  }
  .main-nav.active .nav-wrapper {
    height: 100vh;
    transition: 0.3s ease;
  }
  .primary-navigation {
    border: solid 2px blue;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: -100vh;
    opacity: 0;
    display: flex;
  }
  .main-nav.active .primary-navigation {
    top: 0;
    transition: 0.3s ease;
    opacity: 1;
  }
  .nav-row {
    width: 100%;
    align-self: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 2.368rem;
    line-height: 2.75rem;
    color: var(--black);
    font-family: var(--font-josefin_sans);
    font-weight: 700;
  }
}
/* __________________Hamburger Button Styles */
/* Desktop styles */
.menu-btn {
  width: 2rem;
  height: 2rem;
  position: relative;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
}
.bar {
  width: 100%;
  height: 0.25rem;
  background-color: var(--black);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-btn .bar:nth-child(1) {
  top: 25%;
}
.menu-btn .bar:nth-child(3) {
  top: 75%;
}

/* __________________Hamburger Button Styles */
/* Mobile */
@media (max-width: 700px) {
  .menu-btn {
    display: block;
  }
  .main-nav.active .menu-btn .bar:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .main-nav.active .menu-btn .bar:nth-child(2) {
    display: none;
  }
  .main-nav.active .menu-btn .bar:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
