.photo-palette-img {
  object-fit: contain;
}
.photo-palette-hero {
  border-right: solid 1px var(--light-gray);
  border-bottom: solid 1px var(--light-gray);
  width: 100%;
  padding: 3rem;
}
.project-body-wrapper {
  border: solid 2px yellow;
  display: flex;
  justify-content: space-between;
}
.main-content-wrapper {
  border: solid 2px black;
  width: var(--six-col);
}
.tech-wrapper {
  border: solid 2px pink;
  width: var(--three-col);
}
.hero-container {
}
/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .photo-palette-hero {
    padding: 2rem;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .photo-palette-hero {
    padding: 2rem;
  }
}
